<link rel="stylesheet" href="login.component.css">
<body >
    <div class="login-box">
        <h2>Inicio de sesión</h2>
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            
            <div class="user-box">
                <input type="text" name="username" formControlName="username" required>
                <label>Nombre de usuario</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" formControlName="password" required>
                <label>Contraseña</label>
            </div>
            <button class="button-61 mt-4" role="button" type="submit" value="Enviar">Ingresar</button>
        </form>
    </div> 
</body> 
