<link rel="stylesheet" href="login.component.css">
<body >
    <div class="login-box">
        <h2>Inicio de sesión</h2>
        <form>
            <div class="user-box">
                <input type="text" name="" formControlName="username" required="">
                <label>Correo</label>
            </div>
            <div class="user-box">
                <input type="password" formControlName="password" required>
                <label>Contraseña</label>
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Ingresar
            </a>
        </form>
    </div> 
</body> 
